<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsGuardaDatosAlumnosSoap" />
                <binding name="wsGuardaDatosAlumnosSoap1" />
                <binding name="wsComparaIMCSoap" />
                <binding name="wsCalculaIMCSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7278/wsGuardaDatosAlumnos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsGuardaDatosAlumnosSoap"
                contract="ServiceGuardaDatosAlumnos.wsGuardaDatosAlumnosSoap"
                name="wsGuardaDatosAlumnosSoap" />
            <endpoint address="http://localhost:7278/wsGuardaDatosAlumnos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsGuardaDatosAlumnosSoap1"
                contract="srGuardaDatosAlumnos.wsGuardaDatosAlumnosSoap" name="wsGuardaDatosAlumnosSoap1" />
            <endpoint address="http://localhost:7278/wsComparaIMC.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsComparaIMCSoap" contract="srComparaIMC.wsComparaIMCSoap"
                name="wsComparaIMCSoap" />
            <endpoint address="http://localhost:7278/wsCalculaIMC.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsCalculaIMCSoap" contract="srCalculaIMC.wsCalculaIMCSoap"
                name="wsCalculaIMCSoap" />
        </client>
    </system.serviceModel>
</configuration>